@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

main {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(-30deg, #002b5b, #2b4865, #256d85, #8fe3cf);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.title {
  font-size: $title-font;
  text-transform: uppercase;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}